 <!DOCTYPE html>

 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Simpsons Quotes</title>
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!--font icons css -->
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
         integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <!--loader css -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
     <link rel="stylesheet" href="./css/styles.css">

 </head>

 <body>
     <div class="container">
         <!-- Title image-->
         <div class="row  ">
             <div class="col d-flex justify-content-center align-items-center">
                 <img src="https://cdn.glitch.com/3c3ffadc-3406-4440-bb95-d40ec8fcde72%2Fsimpsons.PNG?1497481539770"
                     class="img-fluid mb-5" alt="">
             </div>
         </div>
         <!-- End Title image-->

         <!-- Quotes component-->
         <div class="row" id="app" v-cloak>
             <div class="col">
                 <div class="row">    
                     <div class="col" v-for="quote in quotes" v-if="!errorNetwork">

                         <div class="row">
                             <!-- Image character-->
                             <div class="col-4  d-flex justify-content-center align-items-center">
                                 <img v-bind:src="quote.image" class="img-fluid"    alt="Responsive image">
                             </div>
                             <!-- Quote Text-->
                             <div class="col-8  d-flex justify-content-center align-items-center">
                                 <blockquote class="blockquote text-center">
                                     <p class="">{{quote.quote}} </p>
                                     <footer class="blockquote-footer text-dark">{{quote.character}}</footer>
                                 </blockquote>
                             </div>
                             <!--End Quotes component-->
                         </div>
                     </div>
                     <!-- show if the server is down -->
                     <div class="col-12 text-center " v-if="errorNetwork">
                         <img class="img-fluid img-thumbnail" v-bind:src="imageError" style="width:350px;height: 300px;" class="img-fluid"
                             alt="Responsive image">
                         <h3>Oops! Error loading</h3>
                     </div>
                 </div>

            <!--  button -->
                 <div class="row pb-5  sticky-bottom">
                     <div class="col d-flex justify-content-center align-items-center">
                         <button type="button" v-on:click="load" class="btn btn-primary btn-lg">load more laughs !</button>
                     </div>
                 </div>
             </div>
         </div> <!-- end #app -->
     </div> <!-- end container -->

     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="./js/app.js"> </script>
 </body>

 </html>